*.log
*.pot
*.pyc
*.db-journal
*.json
__pycache__/
OneMap/
venv
singapore_addresses.db
settings.env
PowerShell Terminal instructions.png
locations.xlsx
testing.py
requirements_notebook.txt
requirements_wo_notebook.txt