*.log
*.pot
*.pyc
*.db-journal
*.json
__pycache__/
OneMap/
build/
dist/
venv
singapore_addresses.db
settings.env
locations.xlsx
testing.py
requirements_notebook.txt
requirements_wo_notebook.txt
pull_onemap.spec