*.log
*.pot
*.pyc
*.db-journal
*.json
__pycache__/
OneMap/
.vscode/
build/
dist/
venv
singapore_addresses.db
singapore_addresses_old.db
settings.env
locations.xlsx
testing.py
requirements_notebook.txt
requirements_wo_notebook.txt
pull_onemap.spec
pull_onemap.exe
test.bat